@using Microsoft.Extensions.Localization
@using Microsoft.AspNetCore.Localization
@inject IStringLocalizer<SharedResource> SharedLocalizer
@using Microsoft.AspNetCore.Builder
@using Microsoft.Extensions.Options
@model DDD.Infra.CrossCutting.Identity.Models.AccountViewModels.ResetPasswordViewModel

@inject IOptions<RequestLocalizationOptions> LocOptions

@{
	var requestCulture = Context.Features.Get<IRequestCultureFeature>();
	var returnUrl = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}{Context.Request.QueryString}";
	var selectedCulture = requestCulture.RequestCulture.Culture;

	Layout = "~/Views/Shared/_Layout.cshtml";

	ViewData["Title"] = "Reset Password";
}

@*<h2>@ViewData["Title"]</h2>*@
@*<h4>Reset your password.</h4>*@
<div class="page-header border-bottom ">
	<div class="container">
		<div class="d-md-flex justify-content-between align-items-center py-4">
			<h1 class="page-title font-size-5 font-weight-medium m-0 text-lh-lg">@SharedLocalizer["Account.Password"]</h1>
		</div>
	</div>
</div>
<main id="content">
	<div class="container">
		<div class="row mb-3">
			<div class="col-md-12">
				<form id="PasswordResetForm" asp-controller="MyAccount" asp-action="ResetPassword" class="mb-6 pb-6 mb-lg-8 pb-lg-9" enctype="multipart/form-data">
					@*<div asp-validation-summary="All" class="text-danger"></div>*@
					<input asp-for="Code" type="hidden" />
					<div class="row mb-3 justify-content-center mt-3">
						<div class="col-md-4 ">
							<div class="js-form-message js-focus-state">
								<div id="validationSummaryUpdate" asp-validation-summary="All" class="text-danger validation-summary-valid"></div>
							</div>
						</div>
					</div>

					<div class="row mb-3 justify-content-center mt-3">
						<div class="col-md-4 ">
							<div class="js-form-message js-focus-state">
								<label>@SharedLocalizer["AccountSideBar.Email"] *</label>
								<input asp-for="Email" class="form-control" readonly />
								<span asp-validation-for="Email" class="text-danger"></span>
							</div>
						</div>
					</div>
					<div class="row mb-3 justify-content-center ">
						<div class="col-md-4">
							<div class="js-form-message js-focus-state">
								<label>@SharedLocalizer["Account.NewPassword"] *</label>
								<input id="newpassword-field" asp-for="Password" class="form-control passwordToggle3" />
								<span asp-validation-for="Password" class="text-danger"></span>
							</div>
						</div>
					</div>
					<div class="row mb-1 justify-content-center ">
						<div class="col-md-4">
							<div class="js-form-message js-focus-state">
								<label>@SharedLocalizer["Account.Confirm"] *</label>
								<input id="confirmpassword-field" asp-for="ConfirmPassword" class="form-control passwordToggle3" />
								<span asp-validation-for="ConfirmPassword" class="text-danger"></span>
							</div>
							<span id="conpasscheck" class="text-danger"></span>
						</div>
					</div>
					<div class="row mb-3 justify-content-center ">
						<div class="col-md-4">
							@*<div class="js-form-message js-focus-state">
								<input type="checkbox" id="showPassword3" class="custom-control-input arrow-cursor" value="true">
								<label class="custom-control-label arrow-cursor" for="showPassword3">
									<span class="font-size-2 text-secondary-gray-700">
										@SharedLocalizer["AccountSideBar.ShowPassword"]
									</span>
								</label>
							</div>*@
							<div class="custom-control custom-checkbox d-flex align-items-center text-muted">
								<input type="checkbox" id="showPassword3" class="custom-control-input arrow-cursor" value="true">
								<label class="custom-control-label arrow-cursor" for="showPassword3">
									<span class="font-size-2 text-secondary-gray-700">
										@SharedLocalizer["AccountSideBar.ShowPassword"]
									</span>
								</label>
							</div>
						</div>
					</div>
					<div class="row mb-3 justify-content-center">
						<div class="col-md-4" align="right">
							<div class="ml">
								<button type="submit" id="myBtn2" class="btn btn-dark width-150 rounded-0 font-weight-medium">@SharedLocalizer["Form.Save"]</button>
							</div>
						</div>
					</div> 
				</form>
			</div>
		</div>
	</div>
</main>
<script type="text/javascript">
	$(document).ready(function () {

		$('#PasswordResetForm').submit(function (e) {
			e.preventDefault();
			var form = $(this);
			var formData = new FormData($(this)[0]);
			//debugger;
			$.ajax({
				url: form.attr('action'),
				type: 'post',
				datatype: 'json',
				contentType: false,
				data: formData,
				async: true,
				cache: false,
				processData: false,
				success: function (data, textStatus, jQxhr) {
					//debugger;
					var $summaryUl = $("#validationSummaryUpdate").find("ul");
					$summaryUl.empty();
					$("html, body").animate({ scrollTop: 0 }, 1000);
					$("#md-toast-success-Id").fadeTo(2000, 500).slideUp(2000, function () {
						$(".md-toast-success").slideUp(500);
					});
				},
				error: function (jqXhr, textStatus, errorThrown) {
					//debugger
					$("html, body").animate({ scrollTop: 0 }, 1000);
					var $summaryUl = $("#validationSummaryUpdate").find("ul");
					$summaryUl.empty();
					if (jqXhr.responseJSON.errors.length > 0) {
						var listErroroMessages = new Array();
						$.each(jqXhr.responseJSON.errors,
							function (a, b) {
								listErroroMessages.push(b);
							});
						translateErrorMessages(listErroroMessages, $summaryUl);
						return
					}
					$("#md-toast-error-Id").fadeTo(2000, 500).slideUp(500, function () {
						$(".md-toast-error").slideUp(500);
					});
				}
			});
		});

		//// Validate Confirm Password
		//$('#conpasscheck').hide();
		//let confirmPasswordError = true;
		//$('#confirmpassword-field').keyup(function () {
		//    validateConfirmPassword();
		//});

		//$('#newpassword-field').keyup(function () {
		//    if ($('#confirmpassword-field').val() != "") {
		//        validateConfirmPassword();
		//    }
		//    else $('#conpasscheck').hide();
		//});

		//function validateConfirmPassword() {

		//    let passwordValue = $('#newpassword-field').val();
		//    let confirmPasswordValue = $('#confirmpassword-field').val();
		//    ////debugger
		//    if (passwordValue == confirmPasswordValue && passwordValue != "") {
		//        $('#conpasscheck').hide();
		//        confirmPasswordError = true;
		//        //$('#myBtn').prop("disabled", false);
		//        $('#myBtn').removeAttr('disabled');
		//        return true;
		//    }
		//    else {
		//        $('#conpasscheck').show();
		//        $('#conpasscheck').html($('#Error_ConfirmPassword').val());
		//        //$('#myBtn').prop("disabled", true);
		//        $('#myBtn2').attr('disabled', 'disabled');
		//        //$('#conpasscheck').css("color", "red");
		//        confirmPasswordError = false;
		//        return false;
		//    }

		//}
	});

	function translateErrorMessages(listErroroMessages, $summaryUl) {
		//var $summaryUl = $("#validationSummaryLogin").find("ul");
		var i;
		for (i = 0; i < listErroroMessages.length; ++i) {
			var value = listErroroMessages[i];
			switch (value) {
				case "UserNotFound": {
					$summaryUl.append("<li> " + $('#UserNotFound').val() + "</li>");
					break;
				}
				case "EmailNotConfirmed": {
					$summaryUl.append("<li> " + $('#EmailNotConfirmed').val() + "</li>");
					break;
				}
				case "PasswordRequiresDigit": {
					$summaryUl.append("<li> " + $('#PasswordRequiresDigit').val() + "</li>");
					break;
				}
				case "PasswordRequiresLower": {
					$summaryUl.append("<li> " + $('#PasswordRequiresLower').val() + "</li>");
					break;
				}
				case "PasswordRequiresUpper": {
					$summaryUl.append("<li> " + $('#PasswordRequiresUpper').val() + "</li>");
					break;
				}
				case "PasswordRequiresNonAlphanumeric": {
					$summaryUl.append("<li> " + $('#PasswordRequiresNonAlphanumeric').val() + "</li>");
					break;
				}
				case "DuplicateUserName": {
					$summaryUl.append("<li> " + $('#DuplicateUserName').val() + "</li>");
					break;
				}
				case "Error_Email": {
					$summaryUl.append("<li> " + $('#WrongEmailFormat').val() + "</li>");
					break;
				}
				case "Error_ConfirmPassword": {
					$summaryUl.append("<li> " + $('#Error_ConfirmPassword').val() + "</li>");
					break;
				}
				case "Error_Password": {
					$summaryUl.append("<li> " + $('#Error_Password').val() + "</li>");
					break;
				}
				case "PasswordTooShort": {
					$summaryUl.append("<li> " + $('#Error_Password').val() + "</li>");
					break;
				}
				case "WrongPassword": {
					$summaryUl.append("<li> " + $('#WrongPassword').val() + "</li>");
					break;
				}
				default: {
					$summaryUl.append("<li> " + "Unknown error" + "</li>");
					break;
				}
			}
		}
	}

</script>

@section Scripts {
	@await Html.PartialAsync("_ValidationScriptsPartial")
}
