@using DDD.Application.ViewModels;
@model AuthorVM
@using Microsoft.AspNetCore.Identity
@using DDD.Domain.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@using Microsoft.Extensions.Localization
@using Microsoft.AspNetCore.Localization
@inject IStringLocalizer<SharedResource> SharedLocalizer
@using Microsoft.AspNetCore.Builder
@using Microsoft.Extensions.Options
@using MipLivrelStore;
@inject IOptions<RequestLocalizationOptions> LocOptions

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Mip Livrel";
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    var selectedCulture = requestCulture.RequestCulture.Culture;
}

<div>
    <main id="main">
        <div class="product">
           @* <div class="page-header border-bottom ">
                <div class="container">
                    <div class="d-md-flex justify-content-between align-items-center py-4">
                        <h1 class="page-title font-size-3 font-weight-medium m-0 text-lh-lg"> @SharedLocalizer["Menu.Authors"]</h1>
                        <nav class="woocommerce-breadcrumb font-size-2">

                            <a href="../Home/Index" class="h-primary">@SharedLocalizer["Menu.Home"]</a>
                            <span class="breadcrumb-separator mx-1"><i class="fas  @(selectedCulture.Name.Equals("ar") ? "fa-angle-left" : " fa-angle-right")"></i></span>
                            <a href="#" class="h-primary"> @SharedLocalizer["Menu.Authors"]</a>
                            <span class="breadcrumb-separator mx-1"><i class="fas @(selectedCulture.Name.Equals("ar") ? "fa-angle-left" : " fa-angle-right")"></i></span>
                            <a href="#" class="h-primary">@Model.AuthorName</a>

                            @*<span class="breadcrumb-separator mx-1"><i class="fas fa-angle-right"></i></span>Build Your DSLR*@
                       @* </nav>
                    </div>
                </div>
            </div>*@
           @* <div class="container border-bottom mb-8">
                <div class="row">

                    <div class="text-center col-md-3 woocommerce-product-gallery woocommerce-product-gallery--with-images images">
                        <figure class="woocommerce-product-gallery__wrapper pt-6 mb-4">

                            @if (Model.PhotoPath != null & Model.PhotoPath != "")
                            {
                                @*<img src="@Model.PhotoPath" style="cursor: pointer ; background-color: white;

                                                                                        line-height: 30px; text-align: center; " />*@
                               @* <img src="@($"https://miplivrelstorage.blob.core.windows.net/bookscover/{Model.PhotoPath}")" class="mx-auto img-fluid ">

                            }
                            else
                            {
                                <img src="~/Template/Image/avatar.png" class="mx-auto img-fluid ">
                            }

                        </figure>
                        <ul id="SocialMediaLoginIcons" class="list-inline text-center">
                            <li class="list-inline-item">
                                <a class="h-primary font-weight-bold text-gray-600  font-size-2" href="#">
                                    <span class="fab fa-facebook-f btn-icon__inner"></span>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a class="h-primary  font-weight-bold font-size-2 text-gray-600" href="#">
                                    <span class="fab fa-google btn-icon__inner"></span>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a class="h-primary  font-weight-bold font-size-2 text-gray-600" href="#">
                                    <span class="fab fa-twitter btn-icon__inner"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-8 pl-0 summary entry-summary @(selectedCulture.Name.Equals("ar") ? "border-right" : " border-left")">
                        <div class=" px-4 px-xl-7 p-3">
                            <h1 class="product_title entry-title font-size-7 mb-3 mt-2"> @Model.AuthorName</h1>
                            <div class="font-size-2 mb-3">
                                <span class=" font-weight-medium">@SharedLocalizer["Book.ByAuthorBirthDate"]</span>
                                <a>@Model.BirthdateAsString</a>
                            </div>
                            <div class="font-size-2 mb-4">
                                <span style="display: inline-block" class=" font-weight-bold mb-2">@SharedLocalizer["Book.AboutAuthor"]</span><br />
                                <p>
                                    A Lebanese-American philosopher, poet, writer and painter, he was born on January 6, 1883 in the town of Bcharre in northern Lebanon and died in New York on April 10, 1931 of tuberculosis. He was also known as Khalil Gibran, a grandson of Joseph Gibran the Maronite Bashaalani. He immigrated when he was young with his mother and brothers to America in 1895, where he studied art and began his literary career. He became famous in the Western world for his book, "The Prophet", which was published in 1923. Gibran is also the best-selling poet, after Shakespeare and Lausy.
                                    In his writings, there were two directions, one of them taking by force and revolting against the beliefs of religion, and the other following the tendencies and loves to enjoy life.
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>*@


            <!-- Nav Classic -->
            <!-- End Nav Classic -->
			<section class="space-bottom-3 mt-7">
                <div class="container">
                    <header class="mb-5 d-md-flex justify-content-between align-items-center">
						<h2 class="font-size-7 mb-3 mb-md-0">@Model.FirstName @Model.LastName </h2>
                    </header>
                    <div class="col-md-7 col-lg-8 col-xl-9" style="max-width:100%">
                        <div class="mx-lg-8 mx-wd-4">
                            <div class="js-slick-carousel products list-unstyled no-gutters my-0" @(selectedCulture.Name.Equals("ar") ? "data-rtl=true" : "data-rtl=false")
                                 data-pagi-classes="d-md-none text-center u-slick__pagination u-slick__pagination mt-5 mb-0" @(selectedCulture.Name.Equals("ar") ? "data-rtl=true" : "data-rtl=false")
                                 data-arrows-classes="d-none d-md-block u-slick__arrow u-slick__arrow-centered--y rounded-circle"
                                 data-arrow-left-classes="fas fa-chevron-left u-slick__arrow-inner u-slick__arrow-inner--left ml-xl-n10"
                                 data-arrow-right-classes="fas fa-chevron-right u-slick__arrow-inner u-slick__arrow-inner--right mr-xl-n10"
                                 data-slides-show="5"
                                 data-responsive='[{
                           "breakpoint": 1500,
                           "settings": {
                             "slidesToShow": 4
                           }
                        }, {
                           "breakpoint": 992,
                           "settings": {
                             "slidesToShow": 3
                           }
                        }, {
                           "breakpoint": 554,
                           "settings": {
                             "slidesToShow": 2
                           }
                        }]'>

                                @foreach (var book in @Model.BooksList)
                                {
									<div class="sb__@book.Id">
										<partial name="PartialSingleBook" model="book" />
									</div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            @*<section class="space-bottom-3">
                <div class="container">
                    <header class="mb-5 d-md-flex justify-content-between align-items-center">
                        <h2 class="font-size-7 mb-3 mb-md-0">@SharedLocalizer["Author.BooksAlsoConsidered"]</h2>
                    </header>
                    <div class="col-md-7 col-lg-8 col-xl-9" style="max-width:100%">
                        <div class="mx-lg-8 mx-wd-4">
                            <div class="js-slick-carousel products list-unstyled no-gutters my-0" @(selectedCulture.Name.Equals("ar") ? "data-rtl=true" : "data-rtl=false")
                                 data-pagi-classes="d-md-none text-center u-slick__pagination u-slick__pagination mt-5 mb-0" @(selectedCulture.Name.Equals("ar") ? "data-rtl=true" : "data-rtl=false")
                                 data-arrows-classes="d-none d-md-block u-slick__arrow u-slick__arrow-centered--y rounded-circle"
                                 data-arrow-left-classes="fas fa-chevron-left u-slick__arrow-inner u-slick__arrow-inner--left ml-xl-n10"
                                 data-arrow-right-classes="fas fa-chevron-right u-slick__arrow-inner u-slick__arrow-inner--right mr-xl-n10"
                                 data-slides-show="5"
                                 data-responsive='[{
                           "breakpoint": 1500,
                           "settings": {
                             "slidesToShow": 4
                           }
                        }, {
                           "breakpoint": 992,
                           "settings": {
                             "slidesToShow": 3
                           }
                        }, {
                           "breakpoint": 554,
                           "settings": {
                             "slidesToShow": 2
                           }
                        }]'>

                                @foreach (var book in @Model.BooksList)
                                {
                                    <partial name="PartialSingleBookPrized" model="book" />
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </section>*@

        </div>
    </main>
</div>
